/** @format */

.footer__outer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 200px;
	background-color: #243e8e;
}

.footer__content {
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__content > div > img {
	height: 70px;
	width: 61px;
	object-fit: contain;
}
.contact__icon {
	margin-top: 10px;
}
.icon {
	color: #7989ba;
	margin-right: 10px;
}
