/** @format */

.footer__outer {
	width: 100vw;
	height: fit-content;
	overflow-y: auto;
	background-color: #243e8e;
}

.footer__content {
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
	display: flex;
	flex-direction: row;
}

.footer__content > div > img {
	height: 70px;
	width: 61px;
	object-fit: contain;
}
.contact__icon {
	margin-top: 10px;
}
.icon {
	color: #7989ba;
	margin-right: 10px;
}

.contact__details {
	margin-right: 50px;
}

.certifications__details {
	margin-right: 50px;
}

.certifications__heading {
	color: white;
}
h3 {
	color: white;
}

.certifications__content {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.certificate {
	text-decoration: none;
	color: #5a80b7;
	margin-bottom: 5px;
}

.footer__bottom {
	color: #999;
	text-align: center;
	margin-bottom: 15px;
}

.footer__divider {
	margin-left: 100px;
	margin-top: 20px;
	margin-right: 100px;
	margin-bottom: 15px;
}

.projects {
	margin-left: 50px;
}
